/* add css styles here (optional) */

.wrapper {
}

.wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.wrapper ul li {
  cursor: pointer;
  position: relative;
}

.wrapper ul li:not(:last-child) {
  margin: 0 16px 0 0;
}
